SightReading/bin/*
Project/bin/*
SightReading/.classpath
SightReading/.cproject
SightReading/.project
SightReading/gen/*
SightReading/project.properties
SightReading/.settings/org.eclipse.cdt.core.prefs
SightReading/.settings/org.eclipse.jdt.core.prefs
